@page "/expenseedit"
@page "/expenseedit/{ExpenseId}"
@using MSPApplication.Shared

<div class="entity-edit">
    @if (Expense.ExpenseId > 0)
    {
        <h1 class="page-title">Edit Expense</h1>
    }
    else
    {
        <h1 class="page-title">Add New Expense</h1>
    }

    <EditForm Model="@Expense" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="title" class="col-sm-3">Title: </label>
            <InputText id="title" class="form-control border border-warning col-sm-8" @bind-Value="@Expense.Title" placeholder="Enter title"></InputText>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-sm-3">Description: </label>
            <InputTextArea id="Description" class="form-control border border-warning col-sm-8" @bind-Value="@Expense.Description" placeholder="Enter Description"></InputTextArea>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-sm-3">Amount: </label>
            <InputNumber id="Description" class="form-select border border-warning col-sm-8" @bind-Value="@Expense.Amount" placeholder="Enter Description"></InputNumber>
        </div>

        <div class="form-group row">
            <label for="expenseStats" class="col-sm-3">Expense Type: </label>
            <InputSelect id="expenseStatus" class="form-select border border-warning col-sm-8" @bind-Value=@Expense.ExpenseType>
                <option value="@(ExpenseType.Training)">Training</option>
                <option value="@(ExpenseType.Travel)">Travel</option>
                <option value="@(ExpenseType.Conference)">Conference</option>
                <option value="@(ExpenseType.Training)">Training</option>
                <option value="@(ExpenseType.Office)">Office</option>
                <option value="@(ExpenseType.Food)">Food</option>
                <option value="@(ExpenseType.Transportation)">Transportation</option>
                <option value="@(ExpenseType.Hotel)">Hotel</option>
                <option value="@(ExpenseType.Other)">Other</option>
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-3">Date: </label>
            <InputDate id="date" class="form-control border border-warning col-sm-8" @bind-Value="@Expense.Date" placeholder="Enter date joined"></InputDate>
        </div>

        <div class="form-group row">
            <label for="employee" class="col-sm-3">Employee: </label>
            <InputSelect id="employee" class="form-select border border-warning col-sm-8" @bind-Value="@EmployeeId">
                @foreach (var employee in Employees)
                {
                    <option value="@employee.EmployeeId">@employee.FirstName</option>
                }
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="currency" class="col-sm-3">Currency: </label>
            <InputSelect id="currency" class="form-select border border-warning col-sm-8" @bind-Value="@CurrencyId">
                @foreach (var currency in Currencies)
                {
                    <option value="@currency.CurrencyId">@currency.Name</option>
                }
            </InputSelect>
        </div>
        <br />
        <div class="btn-group">
            <button type="submit" class="btn btn-primary btn-lg edit-btn">Save Expense</button>
            @if (Expense.ExpenseId > 0)
            {
                <button @onclick="ShowDeleteConfirmation" type="button" class="btn btn-danger btn-lg">Delete</button>
            }
        </div>
    </EditForm>
</div>

<TemplatedDialog Show="ShowDialog">
    <ConfirmDialog Message="Please confirm you wish to Delete this Expense!"
                   Title="Please confirm you wish to delete the expense"
                   OnCancel="CancelDelete" OnConfirm="DeleteExpense">
    </ConfirmDialog>
</TemplatedDialog>

