@page "/roleoverview"
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-md-8"><h1 class="page-title">@title</h1></div>
    <div class="col-md-4">
        <input @ref="SearchInput" class="form-control" @bind="@SearchTerm" @oninput="@(e => CallChangeAsync("SearchInput"))" id="SearchInput" accesskey="f" name="SearchTerm" placeholder="Enter Search Term to Filter.." />
    </div>
</div>
@if (Roles == null && _loadFailed)
{
    <h1 class="text-danger">The data failed to load please try again in a little while..</h1>
    <h6>@ExceptionMessage</h6>
}
else if (Roles == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else
{
    <table class="table table-bordered table-striped" id="table1">
        <thead>
            <tr>
                <th></th>
                <th>Role Name</th>
                <th>Users</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Roles)
            {
                <tr>
                    <td><img width="35" src="/images/categories.png" class="rounded-right" /></td>
                    <td>@role.Name</td>
                    <td><UsersInRole RoleId="@role.Id" /></td>
                    <td>
                        @*<a href="@($"roledetail/{role.Id}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle"></i>
                            </a>*@
                        <a href="@($"roleedit/{role.Id}")" class="btn btn-primary table-btn btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <NavLink class="btn btn-success btn-lg" href="/roleedit">
        Add New Role
    </NavLink>

}

