@page "/employeeoverview"
@attribute [Authorize]
@inject IJSRuntime JSRuntime
<div class="row">
    <div class="col-md-6">
        <h1 class="page-title">@Title</h1>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <input class="form-control" @bind="@SearchTerm" @oninput="@(e => CallChangeAsync("SearchInput"))" id="SearchInput" accesskey="f" name="SearchTerm" placeholder="Enter Search Term to Filter.." />
        </div>
    </div>
</div>

@if (Employees == null)
{
    <div style="display:normal;margin:auto" class="loader"></div>
}
else if (Employees.Count==0)
{
    <p>No employees match the criteria with a job category of @JobCategory.JobCategoryName.</p>
}
else
{
    <table class="table table-bordered table-striped" id="table1">
        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td><img width="35" src="/images/Employee.png" class="rounded-circle" /></td>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FullName</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="mailto:@employee.Email"> @employee.Email</a>
                    </td>
                    <td>@employee.JobCategory.JobCategoryName</td>
                    <td>
                        <a href="@($"employeedetail/{employee.EmployeeId}")" class="btn btn-info table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"employeeedit/{employee.EmployeeId}")" class="btn btn-warning table-btn">
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button @onclick="QuickAddEmployee" class="btn btn-success table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose"></AddEmployeeDialog>